<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="titleHeader">Register page</ion-title>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']">login</ion-button>
      </ion-buttons>
 </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-list style="background: var(--ion-color-primary);">
    <ion-item color="primary">
      <ion-label>
        Username
      </ion-label>
    </ion-item>
    <ion-item color="primary" fullscreen>
        <ion-input [(ngModel)]="username" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label>
          Password
        </ion-label>
      </ion-item>
      <ion-item color="primary" fullscreen>
          <ion-input [(ngModel)]="password" placeholder="password"></ion-input>
        </ion-item>
  </ion-list>
  <ion-button (click)="register()"  color="secondary" expand="block">
    Submit
    <ion-icon  name="login" slot="start"></ion-icon>
  </ion-button>
  <ion-item color="danger" *ngIf="error" fullscreen>
      <ion-label>{{label}}</ion-label>
  </ion-item>


</ion-content>
